.squares-container {
  border-right: 1px solid hsl(222, 21%, 91%);
  border-left: 1px solid hsl(222, 21%, 91%);
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.squares_item:first-child {
  border-right: 1px solid hsl(222, 21%, 91%);
  border-bottom: 1px solid hsl(222, 21%, 91%);
  grid-area: 1 / 1;
}

.squares_item:last-child {
  border-top: 1px solid hsl(222, 21%, 91%);
  border-left: 1px solid hsl(222, 21%, 91%);
  grid-area: 2 / 2;
  margin-left: -0.5px;
  margin-top: -0.5px;
}