.events-slider {
  width: 100%;
  position: relative;
  height: 150px;
  display: flex;
  align-items: stretch;
}

.events-slider__date {
  font-size: 2.5rem;
  color: #3877EE;
  font-family: "Bebas Neue", sans-serif;
}

.events-slider__description {
  font-size: 2rem;
  color: var(--primary);
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
  cursor: grab;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: clamp(16.6rem, 25vw, 32rem);
  user-select: none;
}

.events-slider__nav {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1/1;
  background: white;
  box-shadow: 0 0 15px 0 #3878ee30;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text1);
  font-weight: 600;
  transition: .2s ease;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.events-slider__nav:hover,
.events-slider__nav:focus {
  transform: translateY(calc(-50% + 2px));
  background: white;
}

.events-slider__nav:active {
  transform: translateY(-50%) scale(0.95);
}

.events-slider__nav--prev {
  left: -60px;
}

.events-slider__nav--next {
  right: -60px;
}

.swiper-button-next {
  right: -10px;
}

.events-slider__nav.swiper-button-disabled {
  display: none;
}


@media (max-width: 1024px) {
  .events-slider__description {
    font-size: 1.4rem;
  }
  .events-slider__date {
    font-size: 1.6rem;
  }
  .events-slider {
    align-self: end;
  }
  .events-slider__nav {
    display: none;
  }
  .swiper-slide {
    opacity: 0.4;
  }
  .swiper-slide-active {
    opacity: 1;
  }
}