.mob-pagination {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.mob-pagination__item {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--primary) !important;
  opacity: 0.4;
}

.mob-pagination__item--active {
  opacity: 1;
}