.numbers {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.numbers__inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: 1.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.numbers__digit {
  font-size: clamp(5.6rem, 8vw, 20rem);
  font-weight: 600;
}

.numbers__digit--hidden {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  height: auto;
  width: auto;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  
}