.slider-controls {
  position: relative;
  margin-bottom: 56px;
  display: flex;
  gap: 2rem;
}

.slider-controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  border: 1px solid #42567a85;
  color: var(--primary);
  font-weight: 600;
  transition: .2s ease;
  background: var(--bg);
}

.slider-controls__button:focus,
.slider-controls__button:hover {
  border: 1px solid #42567a91;
  transform: scale(1.03);
}

.slider-controls__button:active {
  transform: scale(0.95);
}

@media (max-width: 1024px) {
  .slider-controls {
    order: 6;
    margin-bottom: 0;
    gap: 8px;
  }
  .slider-controls__button {
    width: 25px;
    height: 25px;
    font-size: 1rem;
  }
}