.years {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: clamp(2rem, 6vw, 10rem);
}

.years__period {
  display: flex;
}

.years__period--first {
  color: var(--text1);
}

.years__period--second {
  color: var(--accent);
}

@media (max-width: 1024px) {
  .years {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: auto;
  }
}