*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

button, button:focus, button:active {
  border: none;
  outline: none;
  background: none;
}

.button {
  border-radius: 100%;
  cursor: pointer;
}